* {
  font-family: "JetBrains Mono", monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3rem;
  color: var(--text-main);
}

p {
  font-size: 1.125rem;
  color: var(--text-main);
}

/* Navbar */
.navbar-container {
  position: fixed;
  width: 100%;
  z-index: 999;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-left: 80px;
  padding-right: 80px;

  background-color: var(--color-bg);
}

.navbar-container ul {
  display: flex;
  list-style: none;
}

.navbar-container ul li {
  padding-right: 30px;
  letter-spacing: 0.125rem;
  font-weight: 700;
}

.navbar-container ul li a {
  color: var(--text-main);
  transition: color var(--transition-fast);
}

.navbar-container ul li a:hover {
  color: var(--color-secondary);
}

.hamb-menu {
  display: none;
}

/* Showcase */
.showcase-container {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 80px;
  background-color: var(--color-bg);
}

.showcase-content-left {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-right: 90px;
}

.showcase-content-left button {
  width: 150px;
  padding: 10px;
  border-radius: var(--border-radius);
  color: var(--color-black);
  font-weight: 900;
  background-color: var(--color-secondary);

  transition: var(--transition-fast);
}

.showcase-content-left button:hover {
  background-color: var(--color-primary);
  cursor: pointer;
}

.adj-box::after {
  content: "|";
  animation: blink 1s steps(1) infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.showcase-content-right .image-molde {
  position: relative;
  display: inline-block;
  padding: 40px;
  background-color: var(--color-bg);
}

.showcase-content-right .image-molde img {
  display: block;
  border-radius: 8px;
  width: 450px;
  transition: transform var(--transition-medium);
}

.showcase-content-right .image-molde img:hover {
  transform: scale(1.05);
}

.showcase-content-right .image-molde::before,
.showcase-content-right .image-molde::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border: 10px solid var(--color-secondary);
}

.showcase-content-right .image-molde::before {
  top: 0;
  left: 0;
  border-right: none;
  border-bottom: none;
}

.showcase-content-right .image-molde::after {
  bottom: 0;
  right: 0;
  border-left: none;
  border-top: none;
}

/* Tecnical Skills */
.skills-container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding-left: 80px;
  padding-right: 80px;
  background-color: var(--color-bg);
}

.skills-content-left {
  display: flex;
  flex-direction: column;
  gap: 50px;
  color: var(--color-primary);
}

.skills-content-right {
  display: flex;
  justify-content: end;
}

.skills {
  flex: 0 0 70%;
  max-width: 70%;
  height: 500px;
  margin-top: 40px;
  padding: 30px;
  border-radius: 10px;
  overflow-y: scroll;
  background-color: var(--color-bg-secondary);
}

.skills .skill-item {
  flex: 0 0 100%;
  max-width: 100%;
}

.skills .skill-item h5 {
  line-height: 40px;
  font-weight: 600;
  font-size: 16px;
  color: var(--color-primary);
  text-transform: capitalize;
}

.skills .skill-item p {
  line-height: 40px;
  font-weight: 600;
  font-size: 16px;
  color: var(--color-primary);
  text-transform: capitalize;
}

.skills .skill-item .progress {
  background-color: var(--color-black);
  height: 7px;
  border-radius: 4px;
  width: 100%;
  position: relative;
}

.skills .skill-item {
  margin-bottom: 25px;
}

.skills .skill-item .progress .progress-in {
  position: relative;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 4px;
  background-color: var(--color-secondary);
}

.skills .skill-item .skill-percent {
  position: absolute;
  right: 0;
  color: var(--color-primary);
  top: -40px;
  font-weight: 400;
  line-height: 40px;
}

/* PROJECTS */
.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--color-bg);
  gap: 50px;
}

.carousel-container {
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.1fr;
  align-items: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; /* Hide other images */
  position: relative;
}

.carousel-slide-container {
  overflow: hidden;
  border-radius: var(--border-radius);
}

.carousel-slide {
  display: flex;
  transition: transform var(--transition-medium);
}

.prevBtn,
.nextBtn {
  font-size: 1.5rem;
  border-radius: 5px;
  padding-bottom: 15px;
  padding-top: 15px;
  align-self: center;
  justify-self: center;
  background-color: var(--color-primary);
  color: var(--color-black);
}

.prevBtn:hover,
.nextBtn:hover {
  background-color: var(--color-secondary);
  cursor: pointer;
}

.slide {
  height: 600px;
  width: 100%;
  flex-shrink: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  opacity: 1;
}

.slide-text {
  height: 25%;
  padding: 20px;
  background-image: linear-gradient(
    to bottom,
    rgba(153, 147, 147, 0),
    rgba(0, 0, 0, 0.589),
    rgb(0, 0, 0)
  );
  opacity: 0;
}

.slide-text h2 > a {
  font-size: 2rem;
  font-weight: 900;
  color: var(--color-white);
  text-decoration: underline;
}

.slide-text h2 > a:hover {
  color: #ffa2cf;
}

.slide-text p {
  color: var(--color-white);
}

.project-item-image {
  background-size: cover;
  background-position: center;
}

.prj1 {
  background-image: url(../assets/images/project-1.png);
}

.prj2 {
  background-image: url(../assets/images/project-2.png);
}

.prj3 {
  background-image: url(../assets/images/project-3.png);
}

.prj4 {
  background-image: url(../assets/images/project-4.png);
}

.prj5 {
  background-image: url(../assets/images/project-5.png);
}

.carousel-guide-dot {
  display: flex;
  color: var(--color-primary);
}

.carousel-guide-dot > .dot {
  padding-left: 20px;
  padding-right: 20px;
}

.dot {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.dot:hover {
  transform: scale(1.2);
}

.dot-active {
  color: var(--color-secondary);
}

/* Contact */
.contact-container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 80px;
  gap: 50px;

  align-items: center;

  background-color: var(--color-bg);
}

.contact-container-left {
  display: grid;
  grid-gap: 50px;
}

.social-media {
  font-size: 2rem;
  color: var(--color-primary);
}

.social-media > a {
  color: var(--color-primary);
  transition: color 0.2s ease-in-out;
}

.social-media > a:hover {
  color: var(--color-secondary);
  cursor: pointer;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.form-input {
  border: none;
  border-radius: 10px;
  background-color: var(--color-bg-secondary);
  padding: 20px;
  resize: none;

  color: var(--color-primary);
}

.form-input::placeholder {
  color: var(--color-white);
  opacity: 0.3;
}

.form-input:focus {
  outline: 1px solid #ffa2cf;
}

.contact-form .form-input {
  margin-bottom: 20px;
}

.form-button {
  border: none;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--color-primary);
  color: var(--color-black);
  text-transform: uppercase;
  font-weight: 600;

  transition:
    background-color var(--transition-fast),
    color var(--transition-fast);
}

.form-button:hover {
  cursor: pointer;
  background-color: var(--color-secondary);
  color: var(--color-black);
}

/* Footer */
.footer-container {
  width: 100%;
  background-color: var(--color-black);
  color: rgba(255, 255, 255, 0.75);
  display: flex;
  justify-content: space-between;
  padding-left: 80px;
  padding-bottom: 25px;
  padding-top: 25px;
}

/* Utilities */
@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-in {
  animation: fade-in 0.5s ease-in forwards;
}

.fade-out {
  animation: fade-out 0.5s ease-in forwards;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--color-bg);
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-secondary);
}
